# Compiled object files
*.o

# Executable
cinemania

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Misc files
*.swp
*.swo
*~
.DS_Store

# Core dumps
core
core.*

# Exported CSV files 
*.csv
!data/*.csv

# Backup files
*.bak
*.backup

# Nix build result
result
result-*
